# 整數

In [1]:
x = 1
y = 26
z = 999

In [3]:
print(x)
print(y)
print(z)
# 類型檢測
print(type(x), type(y), type(z))

1
26
999
<class 'int'> <class 'int'> <class 'int'>

# 浮點數

In [4]:
a = 2.7
b = 9.78
c = 10.967

In [5]:
print(a)
print(b)
print(c)
# 類型檢測
print(type(a), type(b), type(c))

2.7
9.78
10.967
<class 'float'> <class 'float'> <class 'float'>

# 字符串

In [13]:
# 單行文字

# 單引號
Name = 'Ken'
# 雙引號
Note = 'Welcome To My Website'

In [14]:
print(Name)
print(Note)
print("Hello " + Name + ", " + Note)
print(type(Name), type(Note))

Ken
Welcome To My Website
Hello Ken, Welcome To My Website
<class 'str'> <class 'str'>

In [18]:
# 多行文字

Email = """
Dear Wang,
Your Product have arrived.

Best Regards,
Su
"""

In [19]:
print(Email)
print(type(Email))

Dear Wang,
Your Product have arrived.

Best Regards,
Su

<class 'str'>

# 布林值 Boolean

In [20]:
## Boolean

is_checked = True

Flag = False

In [22]:
print(is_checked)
print(Flag)
print(type(is_checked), type(Flag))

if is_checked == True:
    print("Done")

True
False
<class 'bool'> <class 'bool'>
Done

# 容器

In [25]:
import numpy as np

# List
score_list = [61, 86, 96.3, 99.8]
name_list = ['Una', 'Tom', 'Ken']

# Array
info = np.array([ [1, 3, 5], [2, 4, 6] ])

# Tuple
e_tuple = (1,2,3)

In [26]:
print("Score: ", score_list)
print("Name: ", name_list)
print(info)
print(e_tuple)
print(type(score_list), type(name_list), type(info), type(e_tuple))

Score:  [61, 86, 96.3, 99.8]
Name:  ['Una', 'Tom', 'Ken']
[[1 3 5]
 [2 4 6]]
(1, 2, 3)
<class 'list'> <class 'list'> <class 'numpy.ndarray'> <class 'tuple'>